/pretrained_models
core/csrc/uncertainty_pnp/ceres/
.DS_Store
# output dir
/data
/datasets
/lib/bop_renderer
/llvm-*
/mesa-*
/glu-*
*.so.*
*.tar.gz
*.tar.xz
*.egg-info*
output
YOLOX_outputs/
instant_test_output
inference_test_output


*.ttf
*.jpg
*.png
*subsitute.sh
exclude-file.txt
git-pipeline.txt
# compilation and distribution
__pycache__
_ext
*.pyc
*.so
detectron2.egg-info/
build/
dist/
*dlaf*
# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.engine
*.onnx
events.out.tfevents*

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# VSCode editor settings
.vscode

# project dirs
/models

#external/*
